@import"topcoat-button-base";

:root {
  var-blue: #0cc;
  var-grey: #666;
  var-light-grey: rgba(var(grey), 0.5);
  var-height--large: 3rem;
}
.button--large {
  extend: %button;
  padding: 0 0.75rem;
  width: 6rem;
  height: 3rem;
  background: url("bg-image.jpg");
  box-shadow: 0 1px var(grey);
}
.button--large:before, .button--large:after {
  content:'';
}

@import"topcoat-button-base";

:root {
  var-green: #00cc00;
}
.button--quiet {
  extend: %button;
  background: var(green);
  border: none;
}

