:root {
    var-blue: #0cc;
    var-grey: #666;
    var-light-grey: rgba(var(grey), 0.5);
    var-height--large: 3rem;
}

%button {
    border: 1px solid var(blue);
    background: var(light-grey);
}

.button--large {
    extend: %button;
    padding: 0 divide(parseInt(var(height--large), 10), 4)rem;
    width: 6rem;
    height: 3rem;
    box-shadow: 0 1px var(grey);
}
