@import "./topcoat-button-base.css";

:root {
  --blue: #0cc;
  --grey: #666;
  --light-grey: rgba(var(--grey), 0.5);
  --height--large: 3rem;
}
.button--large {
  @extend: %button;
  padding: 0 0.75rem;
  width: 6rem;
  height: 3rem;
  background: url("bg-image.jpg");
  box-shadow: 0 1px var(--grey);
}
.button--large:before, .button--large:after {
  content:'';
}

@import "./topcoat-button-base.css";

:root {
  --green: #0c0;
}
.button--quiet {
  @extend: %button;
  background: var(--green, green);
  border: none;
}
