@import "topcoat-button-base";

:root {
    var-blue: #0cc;
    var-grey: #666;
    var-light-grey: rgba(var(grey), 0.5);
    var-height--large: 3rem;
}


.button--large {
    extend: %button;
    padding: 0 0.75rem;
    width: 6rem;
    height: 3rem;
    box-shadow: 0 1px var(grey);
}

@import "topcoat-button-base";

.button--quiet {
  extend: %button;
  border: none;
}
