.topcoat-button--large,
.topcoat-button--quiet {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.topcoat-button--large,
.topcoat-button--quiet {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topcoat-button--large,
.topcoat-button--quiet {
  box-sizing: border-box;
  background-clip: padding-box;
}

.topcoat-button--large,
.topcoat-button--quiet {
  white-space: nowrap;
  overflow: hidden;
}

.topcoat-button--large,
.topcoat-button--quiet {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.topcoat-button--large,
.topcoat-button--quiet {
  text-overflow: ellipsis;
}

.topcoat-button--large,
.topcoat-button--quiet {
  text-decoration: none;
}

.topcoat-button--large {
  padding: 0 0.75rem;
  width: 6rem;
  height: 3rem;
  background: url("img/bg-image.jpg");
  box-shadow: 0 1px #666;
}

.topcoat-button--large:before,
.topcoat-button--large:after {
  content: '';
}

.topcoat-button--quiet {
  background: #0c0;
  border: none;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL25vZGVfbW9kdWxlcy90b3Bjb2F0LXV0aWxzL3NyYy9pbmRleC5jc3MiLCIuLi9ub2RlX21vZHVsZXMvdG9wY29hdC1idXR0b24tYmFzZS9zcmMvaW5kZXguY3NzIiwiZml4dHVyZXMvcmVzaW4udGVzdC5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7O0VBQ0UsV0FBVztFQUNYLFVBQVU7RUFDVixjQUFjO0VBQ2QsZUFBZTtFQUNmLHdCQUF3QjtFQUN4QixhQUFhO0NBQ2Q7O0FBZ0NEOztFQUNFLGdCQUFnQjtFQUNoQiwwQkFBa0I7RUFBbEIsdUJBQWtCO0VBQWxCLHNCQUFrQjtFQUFsQixrQkFBa0I7Q0FDbkI7O0FBRUQ7O0VBQ0UsdUJBQXVCO0VBQ3ZCLDZCQUE2QjtDQUM5Qjs7QUFFRDs7RUFDRSxvQkFBb0I7RUFDcEIsaUJBQWlCO0NBQ2xCOztBQVFEOztFQUNFLG1CQUFtQjtFQUNuQixzQkFBc0I7RUFDdEIsb0JBQW9CO0NBQ3JCOztBQUVEOztFQUNFLHdCQUF3QjtDQUV6Qjs7QUNuRUQ7O0VBTUUsc0JBQXNCO0NBQ3ZCOztBQ0REO0VBRUUsbUJBQW1CO0VBQ25CLFlBQVk7RUFDWixhQUFhO0VBQ2Isb0NBQWdDO0VBQ2hDLHVCQUE4QjtDQUMvQjs7QUFDRDs7RUFDRSxZQUFXO0NBQ1o7O0FBT0Q7RUFFRSxpQkFBeUI7RUFDekIsYUFBYTtDQUNkIiwiZmlsZSI6ImZpeHR1cmVzL3Jlc2luLnRlc3QuY3NzIiwic291cmNlc0NvbnRlbnQiOlsiJXJlc2V0LWJhc2Uge1xuICBwYWRkaW5nOiAwO1xuICBtYXJnaW46IDA7XG4gIGZvbnQ6IGluaGVyaXQ7XG4gIGNvbG9yOiBpbmhlcml0O1xuICBiYWNrZ3JvdW5kOiB0cmFuc3BhcmVudDtcbiAgYm9yZGVyOiBub25lO1xufVxuXG4lcmVzZXQtbGlzdCB7XG4gIHBhZGRpbmc6IDA7XG4gIG1hcmdpbjogMDtcbiAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xufVxuXG4lcmVzZXQtcXVpZXQge1xuICBiYWNrZ3JvdW5kOiB0cmFuc3BhcmVudDtcbiAgYm9yZGVyOiAxcHggc29saWQgdHJhbnNwYXJlbnQ7XG4gIGJveC1zaGFkb3c6IG5vbmU7XG59XG5cbiVyZXNldC1pbnB1dCB7XG4gIGV4dGVuZDogJXJlc2V0LWJhc2U7XG4gIGV4dGVuZDogJXJlc2V0LWJveC1tb2RlbDtcbiAgdmVydGljYWwtYWxpZ246IHRvcDtcbiAgb3V0bGluZTogbm9uZTtcbn1cblxuJWhpZGUtaW5wdXQge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIG92ZXJmbG93OiBoaWRkZW47XG4gIHBhZGRpbmc6IDA7XG4gIGJvcmRlcjogMDtcbiAgb3BhY2l0eTogMC4wMDE7XG4gIHotaW5kZXg6IDE7XG4gIHZlcnRpY2FsLWFsaWduOiB0b3A7XG4gIG91dGxpbmU6IG5vbmU7XG59XG5cbiVyZXNldC1jdXJzb3Ige1xuICBjdXJzb3I6IGRlZmF1bHQ7XG4gIHVzZXItc2VsZWN0OiBub25lO1xufVxuXG4lcmVzZXQtYm94LW1vZGVsIHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgYmFja2dyb3VuZC1jbGlwOiBwYWRkaW5nLWJveDtcbn1cblxuJXJlc2V0LW92ZXJmbG93IHtcbiAgd2hpdGUtc3BhY2U6IG5vd3JhcDtcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcbn1cblxuJXJlc2V0LWNvbnRhaW5lciB7XG4gIGV4dGVuZDogJXJlc2V0LWJveC1tb2RlbDtcbiAgZXh0ZW5kOiAlcmVzZXQtb3ZlcmZsb3c7XG4gIHdvcmQtc3BhY2luZzogMDtcbn1cblxuJWlubGluZS1ibG9jayB7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xufVxuXG4lZWxsaXBzaXMge1xuICB0ZXh0LW92ZXJmbG93OiBlbGxpcHNpcztcbiAgZXh0ZW5kOiAlcmVzZXQtb3ZlcmZsb3c7XG59XG5cbiVkaXNhYmxlZCB7XG4gIG9wYWNpdHk6IDAuMztcbiAgY3Vyc29yOiBkZWZhdWx0O1xuICBwb2ludGVyLWV2ZW50czogbm9uZTtcbn1cbiIsIkBpbXBvcnQgXCJ0b3Bjb2F0LXV0aWxzXCI7XG5cbiVidXR0b24ge1xuICBleHRlbmQ6ICVpbmxpbmUtYmxvY2s7XG4gIGV4dGVuZDogJXJlc2V0LWJveC1tb2RlbDtcbiAgZXh0ZW5kOiAlcmVzZXQtYmFzZTtcbiAgZXh0ZW5kOiAlcmVzZXQtY3Vyc29yO1xuICBleHRlbmQ6ICVlbGxpcHNpcztcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xufVxuXG4lYnV0dG9uLS1xdWlldCB7XG4gIGV4dGVuZDogJXJlc2V0LXF1aWV0O1xufVxuXG4lYnV0dG9uLS1kaXNhYmxlZCB7XG4gIGV4dGVuZDogJWRpc2FibGVkO1xufVxuIiwiQGltcG9ydCBcInRvcGNvYXQtYnV0dG9uLWJhc2VcIjtcblxuOnJvb3Qge1xuICAtLWJsdWU6ICMwY2M7XG4gIC0tZ3JleTogIzY2NjtcbiAgLS1saWdodC1ncmV5OiByZ2JhKHZhcigtLWdyZXkpLCAwLjUpO1xuICAtLWhlaWdodC0tbGFyZ2U6IDNyZW07XG59XG4uYnV0dG9uLS1sYXJnZSB7XG4gIGV4dGVuZDogJWJ1dHRvbjtcbiAgcGFkZGluZzogMCAwLjc1cmVtO1xuICB3aWR0aDogNnJlbTtcbiAgaGVpZ2h0OiAzcmVtO1xuICBiYWNrZ3JvdW5kOiB1cmwoXCJiZy1pbWFnZS5qcGdcIik7XG4gIGJveC1zaGFkb3c6IDAgMXB4IHZhcigtLWdyZXkpO1xufVxuLmJ1dHRvbi0tbGFyZ2U6YmVmb3JlLCAuYnV0dG9uLS1sYXJnZTphZnRlciB7XG4gIGNvbnRlbnQ6Jyc7XG59XG5cbkBpbXBvcnQgXCJ0b3Bjb2F0LWJ1dHRvbi1iYXNlXCI7XG5cbjpyb290IHtcbiAgLS1ncmVlbjogIzBjMDtcbn1cbi5idXR0b24tLXF1aWV0IHtcbiAgZXh0ZW5kOiAlYnV0dG9uO1xuICBiYWNrZ3JvdW5kOiB2YXIoLS1ncmVlbik7XG4gIGJvcmRlcjogbm9uZTtcbn1cbiJdfQ== */
