:root {
  var-blue: #0cc;
  var-grey: #666;
  var-light-grey: rgba(102, 102, 102, 0.5);
}

.button--large {
  border: 1px solid #0cc;
  background: rgba(102, 102, 102, 0.5);
}

.button--large {
  width: 6rem;
  height: 3rem;
  box-shadow: 0 1px #666;
}
